@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-3xl md:text-5xl lg:text-6xl font-popins font-bold;
  }
  h2 {
    @apply text-3xl font-bold md:font-normal md:text-4xl lg:text-5xl font-popins;
  }
  section {
    @apply max-w-6xl mx-auto;
  }
  li {
    @apply list-none;
  }
}
h1 {
  background-color: "#277FEE";
}

.gradient {
  background: rgb(39, 127, 238);
  background: linear-gradient(
    90deg,
    rgba(39, 127, 238, 1) 0%,
    rgba(35, 119, 226, 1) 35%,
    rgba(9, 100, 215, 1) 100%
  );
}
